.test-css1 {
    color: var(--primaryClr);
    width: 300px;
    height: 200px;
    background-color: azure;
    box-shadow: var(--boxShadowClr1);
    margin: 10px;
}

.test-css2 {
    color: var(--primaryClr);
    width: 300px;
    height: 200px;
    background-color: azure;
    box-shadow: var(--boxShadowClr2);
    margin: 10px;
}