<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: head (pageTitle = 'Completed')">
</head>
<body>
	<header th:replace="layouts :: nav"></header>
	<main>
	<div class="container">
		<form action="/user/completed" id="checkForm" method="post">
		<fieldset>
			 <h2 class="title-txt" align="center">Reservation Completed</h2>
				<div class="form-group mb-2">
					<p align="center">We look forward to welcoming you !
						<br>
						If you want to change or cancel your reservation, please call here.
						<br>
						 123-456-789
					 </p>
				</div>
				<button type="submit" class="confirm-btn" onclick="moveToCheck()">Check my reservation</button>
				<button type="submit" class="confirm-btn"  onclick="moveToTop()">Return to the top page</button>
			</fieldset>
			<input type="hidden" name="page" th:value="${page}">
			<input type="hidden" name="check" th:value="${check}">
		</form>
	</div>
	</main>
	<script>
		function moveToCheck(){
			document.getElementsByName('page')[0].value= 0;
			return document.getElementById('checkForm').submit(); 
		}
		
		function moveToTop(){
			document.getElementsByName('page')[0].value= 1;
			return document.getElementById('checkForm').submit();
		}
	</script>
</body>
</html>