<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: head (pageTitle = 'Completed')">
</head>
<body>
	<main>
	<div class="cmp-container">
		<!-- <form action="/user/completed" id="checkForm" method="post">	 -->
		<h2 class="title-txt">Reservation Completed</h2>
		<div class="comment">
			<p>We look forward to welcoming you !<br>
				If you want to change or cancel your reservation, please call here.<br>
				<b>123-456-789</b>
			</p>
		</div>
		<div class="btn-container">
			<button type="submit" class="btn-txt cmp-confirm-btn" onclick="moveToCheck()">Check my reservation</button>
			<button type="submit" class="btn-txt cmp-confirm-btn"  onclick="moveToTop()">Return to the top page</button>
		</div>
	
		<input type="hidden" name="page" th:value="${page}">
		<input type="hidden" name="check" th:value="${check}">
	<!-- </form> -->
	</div>
	</main>
	<script>
		function moveToCheck(){
			document.getElementsByName('page')[0].value= 0;
			return document.getElementById('checkForm').submit(); 
		}
		
		function moveToTop(){
			document.getElementsByName('page')[0].value= 1;
			return document.getElementById('checkForm').submit();
		}
	</script>
</body>
</html>